.card {
    margin: 1em 0em;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.modal-content {
    border-radius: 10px;
    border : 0;
}

.btn-secondary {
    background-color: #454545;
}

.btn-warning {
    background-color: #ffd54c !important;
}

.card-body {
    padding: 1em !important;
}

.modal-header {
    background-color: #ffd54c;
}

.modal-footer {
    background-color: #ffd54c;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: #ffd54c !important;
}

.margin-0 {
    margin: 0 !important;
}

.card-content-home {
    text-align: center !important;
    padding: 2.5em;
    background-color: #ffd54c !important;
    border-radius: 10px;
}

.card-content-home:hover {
    background-color: black !important;
    color: white !important;
}

a:hover {
    color: black !important;
}

.card-list {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.card-list:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-list-img-top {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.card-list-title {
    font-weight: bold;
    font-size: 15px;
}

.location {
    font-size: 10px;
}

.card-list-body {
    padding: .5em 1em;
}

.carousel-inner {
    border-radius: 15px;
}

span.title {
	font-family: 'lato' sans-serif;
	font-weight: bold;
	font-size: 30px;
}

.mobile {
    display: none !important;
}
.web {
    display: block !important;
}

.float:hover {
	color: white !important;
}

.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:10px;
    right:10px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.my-float{
    margin-top:16px;
}

#formlogin {
    display: inline-block;
    text-align: left;
    width: 60%;
}

@media screen and (max-width:640px) {
    .mobile {
        display: block !important;
    }
    .web {
        display: none !important;
    }

    .middel_right_info {
        position: absolute;
        right: 5%;
        top: -2.8em;
    }

    .mini_cart_wrapper > a span {
        font-size: 25px;
    }

    .mini_cart {
        right: 0 !important;
    }

    .mini_cart_wrapper span.cart_quantity {
        left: 15px;
    }

    .input-mobile {
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-radius: 0;
    }

    #formlogin {
        display: inline-block;
        text-align: left;
        width: 80%
    }

    .card-content-home {
        text-align: center !important;
        padding: 1.5em !important;
    }

    span.title {
		font-family: 'lato' sans-serif;
		font-weight: bold;
		font-size: 20px;
	}

    .col-sm-2 , .col-xs-2 {
        width: 20% !important;
    }

    .col-sm-3 , .col-xs-3 {
        width: 25% !important;
    }

    .col-sm-4 , .col-xs-4 {
        width: 33.33% !important;
    }

    .col-sm-5 , .col-xs-5 {
        width: 40% !important;
    }

    .col-sm-6 , .col-xs-6 {
        width: 50% !important;
    }

    .col-sm-9 , .col-xs-9 {
        width: 75% !important;
    }
}

.check-card {
    list-style: none;
    margin-bottom: 40px;
}

li > .check-card-item{
    float: left;
    display: inline;
}
.check-card .check-card-item {
    position: relative;
    width: 100%;
    margin: 5px;
    font-size: 16px;
    background: #ffd54c !important;
    overflow: hidden;
}
.check-card li label {
    display: block;
    position: absolute;
    height: 150px;
    width: 100%;
    z-index: 100;
    cursor: pointer;
}
.check-card .check-card-body {
    color: #fff;
    height: 220px;
    z-index: 2;
    position: relative;
}
.check-card .check-card-body-in {
    padding: 40px 20px 20px;
    text-align: center;
}
.check-card .check-card-title {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
}
.check-card .check-card-bg,
.check-card .check-card-toggle {
    position: relative;
    background: #2e2d37;
    width: 36px;
    height: 36px;
    top: 10px;
    left: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.check-card .check-card-bg {
    position: absolute;
    background: #2e2d37;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    -webkit-transform:scale(1);
    transform:scale(1);
    z-index: 0;
}
.check-card .check-card-toggle span {
    position: absolute;
    display: block;
    width: 20px;
    margin-left: -10px;
    height: 1px;
    top: 50%;
    left: 50%;
    background: #fff;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;

    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
}
.check-card .check-card-toggle span:first-child {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.check-card .check-card-cancel {
    font-size: 18px;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    padding: 10px 0 7px;
    text-align: center;
    position: absolute;
    bottom: -50px;
    margin: 0 7%;
    width: 86%;
    -webkit-transition: all .3s cubic-bezier(0.5, -0.8, 0.5, 1.8);
    transition: all .3s cubic-bezier(0.5, -0.8, 0.5, 1.8);
}
.check-card input[type=radio] {
    display: none;
}
.check-card input[type=radio]:checked ~ .check-card-body .check-card-toggle span {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.check-card input[type=radio]:checked ~ .check-card-body .check-card-toggle span:first-child {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.check-card input[type=radio]:checked ~ .check-card-bg {
    -webkit-transform:scale(25);
    transform:scale(25);
}
.check-card input[type=radio]:checked ~ .check-card-body .check-card-cancel {
    bottom: 15px;
}

a.klik-tengah {
    z-index: 999999999;
}

a.klik-tengah:hover {
    color: #ffd54c !important;
}

.inputGroup {
     background-color: #fff;
     display: block;
     margin: 10px 0;
     position: relative;
}
 .inputGroup label {
    border-radius: .25rem;  
     padding: 12px 30px;
     width: 100%;
     display: block;
     text-align: left;
     color: #3c454c;
     cursor: pointer;
     position: relative;
     z-index: 2;
     transition: color 200ms ease-in;
     overflow: hidden;
}
 .inputGroup label:before {
     width: 10px;
     height: 10px;
     border-radius: 50%;
     content: '';
     background-color: #ffd54c;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%) scale3d(1, 1, 1);
     transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
     opacity: 0;
     z-index: -1;
}
 .inputGroup label:after {
     width: 32px;
     height: 32px;
     content: '';
     border: 2px solid #d1d7dc;
     background-color: #fff;
     background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
     background-repeat: no-repeat;
     background-position: 2px 3px;
     border-radius: 50%;
     z-index: 2;
     position: absolute;
     right: 30px;
     top: 50%;
     transform: translateY(-50%);
     cursor: pointer;
     transition: all 200ms ease-in;
}
 .inputGroup input:checked ~ label:before {
     transform: translate(-50%, -50%) scale3d(56, 56, 1);
     opacity: 1;
}
 .inputGroup input:checked ~ label:after {
     background-color: black;
     border-color: black;
}
 .inputGroup input {
     width: 32px;
     height: 32px;
     order: 1;
     z-index: 2;
     position: absolute;
     right: 30px;
     top: 50%;
     transform: translateY(-50%);
     cursor: pointer;
     visibility: hidden;
}
 .form {
     padding: 0 16px;
     max-width: 550px;
     margin: 50px auto;
     font-size: 18px;
     font-weight: 600;
     line-height: 36px;
}
